<form action="/user_items/new" method="post">
   <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)  %>
   <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
   <%= tag(:input, :type => "hidden", :name => :item_id, :value => @item.id) %>
   <input type="submit" value="Purchase Item">
 </form>

<p class="itemName" ><strong>Name:</strong> <%= @item.name %></p>
<p class="itemPrice" ><strong>Price:</strong> $<%= @item.price %></p>
<p class="itemQuantity" ><strong>Quantity:</strong> <%= @item.quantity %></p>

<a href="#" class="js-next" data-id="<%=@item.id%>">Next Item</a>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    let nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/items/" + nextId + ".json", function(data) {
      $(".itemName").text("Name: " + data["name"]);
      $(".itemPrice").text("Price: " + data["price"]);
      $(".itemQuantity").text("Quantity: " + data["quantity"]);
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
