<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @item.name %></p>
    <p><strong>Price:</strong> $<%= @item.price %></p>
    <p><strong>Amount in Stock:</strong> <%= @item.quantity %></p>
    <% if current_user.admin %>
      <p><%= link_to 'Edit Purchase', [:edit, @item] %></p>
      <%= link_to 'Delete', item_path, method: :delete, data: {confirm: 'For Real?' } %>
    <% else %>
      <form action="/items/new" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)  %>
        <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
        <%= tag(:input, :type => "hidden", :name => :item_id, :value => @item.id) %>
        <input class="btn btn-light" type="submit" value="Purchase">
      </form>
    <% end %><br>

  <p><%= link_to 'Back', items_path %></p>

  </div>
</div>
