<!DOCTYPE html>
<html>
  <head>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>RailsBodega</title>


  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Rails Bodega
        </h1>
      </div>
      <div class="column">
        <%= link_to "Home", root_url, class: 'nav-link' %> |
        <% if current_user %>
        <%= link_to "Profile", user_path(current_user) %> |
        <%= link_to "Items to Purchase", items_path, class: 'items-link' %> |
        <%= link_to "See Cart", user_cart_index_path(current_user), class: 'see-cart' %> |
        <%= link_to "Create New Item", new_item_path, class: 'new-item' %> |
        <%= link_to "Sign Out", signout_path %> |
        <% else %>
        <%= link_to "Sign Up", new_user_path %> |
        <%= link_to "Log in", signin_path %> |
        <% end %>
        <hr>
        <div id="flash_messages" class="flash_style">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <div class="items-to-purchase"></div>
      <div class="cart"></div>
    </section>

  </body>
</html>
