<!DOCTYPE html>
<html>
  <head>
    <title>RailsBodega</title>


  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Rails Bodega
        </h1>
      </div>
      <div class="column">
        <%= link_to "Home", root_url %> |
        <%= link_to "Items to Purchase", items_path %> |
        <%= link_to "Sign Out", signout_path %> |
        <hr>
        <div id="flash_messages" class="flash_style">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </section>

  </body>
</html>
